n8n_workflows/getting_leads_replies.json
{
  "name": "replies",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "47d3d142-7746-4184-9ddf-b3e302f20127",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "hPuYr8AaUYn3ruRO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "f582784f-a830-4e80-8274-5c21c04d836c",
      "name": "Get a message",
      "webhookId": "01c79281-f24c-47c7-af42-25c320b1ea3d",
      "credentials": {
        "gmailOAuth2": {
          "id": "hPuYr8AaUYn3ruRO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------- BODY ----------\nlet body = \"\";\nconst payload = $json.payload || {};\n\n// Check for plain text or HTML body\nif (payload.body && payload.body.data) {\n  body = Buffer.from(payload.body.data, 'base64').toString();\n} else if (payload.parts && Array.isArray(payload.parts)) {\n  for (const p of payload.parts) {\n    if (p.mimeType === 'text/plain' && p.body && p.body.data) {\n      body = Buffer.from(p.body.data, 'base64').toString();\n      break; \n    }\n  }\n}\n\n// Fallback to snippet if body is entirely missing\nif (!body && $json.snippet) {\n  body = $json.snippet;\n}\n\n// ---------- DATE ----------\nlet date_iso = \"\";\nif ($json.internalDate) {\n  const ms = Number($json.internalDate);\n  const d = new Date(ms);\n  if (!isNaN(d)) {\n    // Spring Boot expects ISO format (e.g., \"2026-02-25T14:30:00\")\n    // slice(0, 19) removes the milliseconds and 'Z' to match typical LocalDateTime parsing\n    date_iso = d.toISOString().slice(0, 19); \n  }\n}\n\n// ---------- EMAIL EXTRACTION ----------\nconst rawFrom = $json.headers?.from || $json.From || \"\";\n// Extract email from \"Name <email@domain.com>\" using Regex\nconst emailMatch = rawFrom.match(/<([^>]+)>/);\nconst cleanEmail = emailMatch ? emailMatch[1] : rawFrom.trim();\n\nconst subject = $json.headers?.subject || $input.first().json.Subject || \"\";\n\n// ---------- RETURN EXACT DTO FORMAT ----------\nreturn [{\n  email: cleanEmail,\n  subject: subject,\n  emailBody: body,\n  repliedAt: date_iso\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "2b0b97c0-06d3-498b-8cf2-30a961826620",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8081/api/webhooks/email-reply",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "=subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "emailBody",
              "value": "={{ $json.emailBody }}"
            },
            {
              "name": "repliedAt",
              "value": "={{ $json.repliedAt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "81a35d0b-89ee-4979-845b-038e1d269ef5",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a118c5c3-949e-44cc-bee9-8ad5fca9406f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19608886e3e17c7fa08aa6249e02f43d090f84b9e2f1863d8af8ff9691f099f7"
  },
  "id": "Vepair4SKYQ5V03j",
  "tags": []
}