n8n_workflows/sending_sequence_emails_with_files_attached.json
{
  "name": "sending_sequence_emails_with_files_attached",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        128
      ],
      "id": "386aec6b-acdb-4344-a7b3-e6486934818a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8081/api/sequences/process-daily-emails",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        128
      ],
      "id": "f590cf8c-ce98-427c-ae72-4d2421a44fb9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Each item from Spring is one email to send.\n// Parse attachmentUrls if present and build full URLs.\nconst item = $input.first().json;\n\nlet urls = [];\nif (item.attachmentUrls) {\n  try {\n    urls = JSON.parse(item.attachmentUrls);\n  } catch(e) {\n    urls = [];\n  }\n}\n\nconst baseUrl = 'https://buys-therapist-music-assistant.trycloudflare.com';\n\nreturn [{\n  json: {\n    email: item.email,\n    subject: item.subject,\n    body: item.body,\n    hasAttachments: urls.length > 0,\n    attachmentUrls: urls.map(u => baseUrl + u)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "id": "3511a97e-7584-406e-9653-4050e8fe244c",
      "name": "Parse Body"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-attachments",
              "leftValue": "={{ $json.hasAttachments }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        128
      ],
      "id": "1ea7358f-4472-4840-8aa3-8a968e9070de",
      "name": "Has Attachments?"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn item.attachmentUrls.map(url => ({\n  json: {\n    email: item.email,\n    subject: item.subject,\n    body: item.body,\n    attachmentUrl: url,\n    fileName: url.split('/').pop()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6f57814f-b276-4b53-ad3b-483194318320",
      "name": "Split URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.attachmentUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "b594820a-402f-412a-8e55-43b46136974a",
      "name": "Download File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst first = items[0].json;\n\nconst binaryData = {};\nitems.forEach((item, index) => {\n  if (item.binary) {\n    Object.keys(item.binary).forEach(key => {\n      binaryData[`attachment_${index}`] = item.binary[key];\n    });\n  }\n});\n\nreturn [{\n  json: {\n    email: first.email,\n    subject: first.subject,\n    body: first.body\n  },\n  binary: binaryData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "12b02f7e-822f-4975-a015-164ded9e960b",
      "name": "Merge Files"
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ Object.keys($binary).join(',') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "b905c4b3-bd6f-46ef-a7cc-f7ba018c6e13",
      "name": "Send with Attachments",
      "webhookId": "6b8e8afa-1a51-475d-a0bd-5f11845272c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "hPuYr8AaUYn3ruRO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        256
      ],
      "id": "c680132e-05e5-4e93-97b9-dd7b52041266",
      "name": "Send without Attachments",
      "webhookId": "5545b1a3-8c4f-4613-bcca-4b321d0bed24",
      "credentials": {
        "gmailOAuth2": {
          "id": "hPuYr8AaUYn3ruRO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Parse Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Body": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send without Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Merge Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Files": {
      "main": [
        [
          {
            "node": "Send with Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f3eedfba-fd22-4053-a791-f20a402ac590",
  "meta": {
    "instanceId": "19608886e3e17c7fa08aa6249e02f43d090f84b9e2f1863d8af8ff9691f099f7"
  },
  "id": "dOJV99NsSksfAOf7",
  "tags": []
}